body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f8ff;
  color: #333;
}

.container {
  margin: 50px auto;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  border: 2px solid #007bff;
  border-radius: 10px;
  background-color: #ffffff;
}

h1 {
  font-size: 2rem;
  color: #007bff;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

#result {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
}

canvas {
  margin: 20px auto;
  display: block;
}

.flex-table {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0; /* Separación entre los elementos */
}

#cell1 {
  display: flex;
  margin-left: 9%;
  font-size: 1.2rem;
  font-weight: bold;
}

#cell2 {
  display: flex;
  /* justiitems: center; */
  width: 150px;
  height: 150px;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 8%;
}

#winMark {
  display: none;
}

/* Modo oscuro */
body.dark-mode {
  background-color: #222;
  color: #eee;
}

.dark-mode .container {
  background-color: #333;
  border-color: #007bff;
}

.dark-mode h1 {
  color: #00c8ff;
}

.dark-mode button {
  background-color: #00c8ff;
  color: #222;
}

.dark-mode button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.dark-mode #result {
  color: #00c8ff;
}

.dark-mode #cell1 {
  color: #00c8ff;
}

.dark-mode #cell2 {
  color: #00c8ff;
}